<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title>Recibir parametro del request HTTP GET- URL</title>
</head>
<body>
   <H1>Recibir parametro del request HTTP GET- URL</H1>
<ul>
  <li>
    <a th:href="@{/params/string(texto='Hola Jhon')}">/params/string?texto=Hola Jhon</a>
  </li>
  <li>
    <a th:href="@{/params/string(texto='Que tal Claudia/')}">/params/string?texto=Que tal Claudia!</a>
      <!--@{} para rutas url en thymeleaf propias del proyecto o recursos del proyecto como hojas de stylo, javascript, imagenes -->
  </li>


</ul>

</body>
</html>